@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Raleway", sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
.container{
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}
.title{
    font-size: 42px;
    line-height: 42px;
    font-weight: 600;
    color: #303441;
    font-family: "Raleway", sans-serif;
}
/* <!-- ----Header Section--- --> */
.top-header{
    position: relative;
    z-index: 2;
}
.top-header .container {
    border-bottom: 1px solid #cbcccf;
    padding: 15px 30px;
}
.top-header .container .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-header .container .language-option{
    position: relative;
}
.top-header .container .language-option ul {
    position: absolute;
    background: #234dd4;
    width: 151px;
}
.top-header .container .language-option ul li {
    padding: 5px 10px;
    transition: .3s;
}
.top-header .container .language-option ul li:hover{
    background: #03C575;
}
.top-header .container .language-option ul li a{
    color: #fff;
}
.language-select{
    display: none;
}
.top-header .container .language-option:hover .language-select{
    display: block;
}
.top-header .container .row .col .language-option i{
    font-size: 10px;
    color: #222;
}
.top-header .container .row .col i{
    font-size: 14px;
    line-height: 14px;
    color: #009aee;
}
.top-header .container .row .col .login-option i{
    font-size: 15px;
    line-height: 28px;
    padding: 0 20px;
}
.top-header .container .fa-key{
    padding-right: 0 !important;
}
.top-header .container .row .col .login-option a{
    position: relative;
}
.top-header .container .contact-option{
    display: flex;
    align-items: center;
    column-gap: 60px;
}
.top-header .container .row .col .login-option a span {
    position: absolute;
    top: -6px;
    font-size: 8px;
    font-weight: 700;
    width: 12px;
    height: 12px;
    background: #009aee;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 12px;
    right: 14px;
}
.top-header .container .row .col .login-option .border::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #cbcccf;
    top: 0;
    bottom: 0;
    right: 0;
}
.top-header a, h5{
    font-size: 12px;
    line-height: 16px;
    color: #222;
    font-weight: 400;
}
/* <!-- ---End Header Section--- --> */

/* <!-- ---Main Header Section--- --> */
.main-header{
    padding: 40px 0;
    position: relative;
    z-index: 1;
}
.main-header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .site-logo img{
    width: 188px;
}
.main-header .row nav .menu{
    display: flex;
    align-items: center;
}
.main-header nav ul li a{
    color: #303441;
    font-size: 13px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    padding: 15px 20px;
}
.down-icon{
    position: relative;
}
.down-icon::after{
    content: '\f107';
    position: absolute;
    font-family: fontawesome;
    margin-left: 5px;
}
.dropdown:hover .down-icon::after{
    content: '\f106';
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    width: 230px;
    border-top: 3px solid #03C575;
    padding: 15px 25px;
    display: none;
    background: #fff;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.28);
    transition: .3s;
}
.dropdown-menu li a{
   padding: 0 !important;
   margin: 0 !important;
}
.main-header .button a{
    font-size: 10px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    width: 110px;
    height: 32px;
    background: #234dd4;
    display: block;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    transition: .3s ease;
}
.main-header .button .fa-house-chimney-medical{
    padding: 0 3px;
}
.main-header .button a:hover{
    background: #03C575;
}
.dropdown:hover .dropdown-menu{
   display: block;
}
.dropdown-menu li{
    padding: 3px 0;
}
.dropdown-menu li a{
    text-transform: capitalize !important;
}
.dropdown-menu li a:hover{
    text-decoration: underline;
}
/* <!-- ---End Main Header Section--- --> */

/* <!-- ---Banner Section--- --> */
.banner-section {
    background: url(./imgs/home-realtor-main-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 245px;
    padding-bottom: 195px;
    margin-top: -190px;
    position: relative;
}
.banner-section h4{
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #234dd4;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.banner-section h2{
    font-size: 60px;
    line-height: 66px;
    font-weight: 700;
    color: #303441;
    max-width: 450px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
}
.banner-section a{
    display: block;
    font-size: 13px;
    line-height: 47px;
    font-weight: 600;
    color: #fff;
    max-width: 450px;
    background: #234dd4;
    width: 260px;
    height: 47px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
}
.banner-section a:hover{
    background: #03C575;
}
/* <!-- ---End Banner Section--- --> */

/* !-- ---Feature Section--- --> */
.feature-section {
    background: #EBEEF3;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.feature-section h4 span .fa-house{
    font-size: 22px;
    line-height: 22px;
    margin-right: 5px;
}
.feature-section h4 span{
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #234dd4;
}
.feature-section h4{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #888;
    text-transform: uppercase;
}
.feature-section .section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.owl-carousel .item .imgs img{
    width: 100%;
}
.owl-carousel .item .imgs{
    position: relative;
}
.owl-carousel .item .imgs::after {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(34, 34, 34, .8);
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: none;
}
.owl-carousel .item .imgs .button{
    position: absolute;
    display: flex;
    column-gap: 10px;
    top: 15px;
    left: 15px;
    z-index: 1;
}
.owl-carousel .item .imgs .view{
    position: absolute;
    top: 0;
    z-index: 1;
    right: 15px;
    top: 15px;
}
.owl-carousel .item .imgs .view a{
    font-size: 13px;
    color: #fff;
    padding: 5px 9px;
    background: rgba(34, 34, 34, 7);
    border-radius: 6px;
    display: block;
}
.owl-carousel .item .imgs .view a .fa-camera{
    margin-right: 5px;
}
.owl-carousel .item .imgs .button a {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 9px;
    background: #03C575;
    color: #fff;
    display: block;
    border-radius: 6px;
}
.owl-carousel .item .imgs .button .bg{
    background: red;
}
.owl-carousel .item .imgs .wishlist{
    position: absolute;
    z-index: 1;
    display: flex;
    right: 15px;
    bottom: 15px;
    align-items: center;
}
.owl-carousel .item .imgs .wishlist a{
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
}

.active-element{
    display: none !important;
}
.owl-carousel .item:hover .active-element{
    display: block !important;
}
.owl-carousel .item:hover .imgs::after{
    display: block;
}
.owl-carousel .item-title a{
    font-size: 18px;
    font-weight: 600;
    color: #222;
    font-family: "Raleway", sans-serif;
    transition: .3s;
    line-height: 24px;
    display: block;
    margin-bottom: 15px;
}
.owl-carousel .item-title a:hover{
    color: #234dd4;
}
.owl-carousel .item-title ul li img{
    width: 18px;
}
.owl-carousel .item-title ul li {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #888;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.owl-carousel .item-title ul{
    max-width: 245px;
}
.owl-carousel .item-title ul li .left, .right{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.owl-carousel .item{
    border: 1px solid rgba(136, 136, 136, .3);
    background: #fff;
    transition: .3s;
}
.owl-carousel .price span{
    font-size: 16px;
    line-height: 28px;
    color: #222;
}
.owl-carousel .price span del{
    text-decoration: line-through;
    color: #888;
    margin-right: 10px;
}
.owl-carousel .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(136, 136, 136, .3);
    padding-top: 15px;
    margin-top: 15px;
}
.owl-carousel .item-title{
    padding: 25px;
}
.owl-carousel .price .fa-eye{
    font-size: 18px;
    color: #888;
}
.owl-carousel .item:hover{
    box-shadow: 5px 5px 15px rgba(136, 136, 136, .4);
}
.owl-carousel .owl-stage-outer{
    padding-bottom: 40px;
}
.owl-carousel .owl-dots{
    display: none !important;
}
/* <!-- ---End Feature Section--- --> */

/* <!-- ---About Section--- --> */
.about-section{
    padding: 90px 0;
}
.about-section .row{
    display: flex;
}
.about-section .title{
    margin-bottom: 30px;
    margin-top: 20px;
}
.about-section .col1{
    background: url(./imgs/home-realtor-single-519x639.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;
}
.about-section .col2{
    width: 55%;
    padding:  0 42px;
}
.about-section span{
    font-size: 18px;
    line-height: 28px;
    color: #222;
    margin-bottom: 30px;
    display: block;
    font-weight: 400px;
}
.about-section p{
    font-size: 15px;
    line-height: 28px;
    color: #222;
    margin-bottom: 30px;
    font-weight: 300;
}
.about-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-section ul li a img{
    width: 50px;
}
.about-section ul li a{
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #222;
    transition: .3s;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.about-section ul li a:hover{
    text-decoration: underline;
}
.about-section .media{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}
.about-section .media span{
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 15px;
    font-weight: 600 !important;
    color: #222;
}
.about-section .media-icon a{
    font-size: 17px;
    color: #888;
    padding: 10px;
    transition: .3s;
}
.about-section .media-icon a:hover{
    color: #234dd4;
}
.about-section .media img{
    width: 70px;
}
/* <!-- ---End About Section--- --> */

/* <!-- ---Our partner Section--- --> */
.our-partner{
    padding-top: 40px;
    padding-bottom: 90px;
}
.our-partner .title{
    text-align: center;
    margin-bottom: 60px;
}
.our-partner ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* <!-- ---End Our partner Section--- --> */

/* <!-- ---Our Team Section--- --> */
.our-team{
    background: #F5F5F5;
    padding: 80px 0;
}
.our-team .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 0 20px;
}
.our-team .col{
    background: #fff;
}
.our-team .col img{
    width: 100%;
}
.our-team .staff-phones{
    display: flex;
    column-gap: 10px;
    margin-bottom: 15px;
}
.our-team .title{
    margin-bottom: 60px;
}
.our-team .staff-info-box{
    padding: 20px 25px;
}
.our-team .staff-title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #303441;
    margin-bottom: 5px;
}
.our-team .phone-icon i {
    transform: rotate(20deg);
    font-size: 13px;
    color: #222;
    position: relative;
    top: 1px;
}
.our-team .staff-position{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #222;
    margin-bottom: 7px;
}
.our-team .staff-mobail p{
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our-team .staff-mobail span{
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    color: #222;
    margin-left: 15px;
}
.staff-socials a {
    font-size: 15px;
    color: #30344199;
    padding: 10px;
}
/* <!-- ---End Our Team Section--- --> */

/* <!-- ---Popular Properties Section--- --> */
.popular-properties{
    padding-top: 80px;
    padding-bottom: 80px;
}
.popular-properties .section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.popular-properties h4 span .fa-house{
    font-size: 22px;
    line-height: 22px;
    margin-right: 5px;
}
.popular-properties h4 span {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #234dd4;
}
.popular-properties h4 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #888;
    text-transform: uppercase;
}
.popular-properties .main-row .row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.popular-properties .main-row .row2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 30px;
}
.popular-properties .main-row .row .col{
    background: url(./imgs/wall-510x510-500x500.jpg);
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 265px;
    position: relative;
}
.popular-properties .main-row .row .col2{
    background: url(./imgs/indoors-3101776_1920-500x500.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.popular-properties .main-row .row .col3{
    background: url(./imgs/listing_2-510x510-500x500.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.popular-properties .main-row .row .col4{
    background: url(./imgs/roundtable-828546_1280-510x510-500x500.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.popular-properties .main-row .row .col5{
    background: url(./imgs/apartament-10-510x510-500x500.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.popular-properties .main-row .row .col::after{
    position: absolute;
    content: '';
    background: rgba(34, 34, 34, .3);
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}
.popular-properties .main-row .row .col:hover.col::after{
    background: rgba(34, 34, 34, .8);
}
.popular-properties .main-row .row .col .button{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}
.popular-properties .main-row .row .col .button a {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 9px;
    background: #03C575;
    color: #fff;
    border-radius: 6px;
}
.popular-properties .main-row .row .col .button .bg {
    background: red;
}
.popular-properties .main-row .row .col .view {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 15px;
    top: 15px;
    opacity: 0;
    transition: .3s;
}
.popular-properties .main-row .row .col:hover.col .view{
    opacity: 1;
}
.popular-properties .main-row .row .col .view a {
    font-size: 13px;
    color: #fff;
    padding: 5px 9px;
    background: rgba(34, 34, 34, 7);
    border-radius: 6px;
    display: block;
}
.popular-properties .main-row .row .col .view a .fa-camera {
    margin-right: 5px;
}
.popular-properties .main-row .row .col .wishlist {
    position: absolute;
    z-index: 1;
    display: flex;
    right: 15px;
    bottom: 85px;
    align-items: center;
    opacity: 0;
    transition: .3s;
}
.popular-properties .main-row .row .col:hover.col .wishlist{
    opacity: 1;
}
.popular-properties .main-row .row .col .wishlist a {
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
}
.popular-properties .main-row .row .col .Properties-title{
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 1;
    width: 100%;
}
.popular-properties .main-row .row .col span del {
    text-decoration: line-through;
    color: #6E6E6D;
    margin-right: 10px;
    font-weight: 700;
}
.popular-properties .main-row .row .col span {
    font-size: 15px;
    line-height: 28px;
    color: #fff;
}
.popular-properties .main-row .row .col .flex-box .fa-eye {
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    margin-right: 31px;
    cursor: pointer;
}
.popular-properties .main-row .row .col .flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-properties .main-row .row .col .Properties-title h2{
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
}
.popular-properties .main-row .row .col ul li{
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
}
.popular-properties .main-row .row .col ul li i{
    margin-right: 10px;
}
.popular-properties .main-row .row .col ul {
    display: flex;
    column-gap: 24px;
    align-items: center;
}
/* <!-- ---End Popular Properties Section--- --> */

/* <!-- ---Testimonials Section--- --> */
.testimonials{
    padding: 80px 0;
    background: #F5F5F5;
}
.testimonials .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.testimonials .title{
    text-align: center;
    margin-bottom: 50px;
}
.testimonials .row .col img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.testimonials .row .col {
    text-align: center;
}
.testimonials-title{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #303441;
    font-family: "Raleway", sans-serif;
}
.testimonials-position{
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
    color: #43c370;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.testimonials p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #222;
    max-width: 338px;
    margin: 0 auto;
}
.testimonials i{
    font-size: 25px;
    color: #03C575;
    margin-top: 15px;
}
/* <!-- ---Testimonials Section--- --> */

/* <!-- ---Feedback Form Section--- --> */
.feedback-form{
    background: url(./imgs/feedback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 80px 0;
}
.feedback-form .title{
    color: #fff;
    margin-bottom: 40px;
}
.feedback-form .form{
    display: flex;
    align-items: center;
    column-gap: 27px;
}
.feedback-form ::placeholder{
    font-size: 14px;
    font-weight: 300;
    color: #000;
}
.feedback-form input{
    width: 100%;
    height: 50px;
    padding:  0 20px;
    border: none;
    outline: none;
}
.feedback-form button{
    width: 160px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: #234dd4;
    transition: .3s;
    text-transform: uppercase;
    cursor: pointer;
}
.feedback-form button:hover{
    background: #03C575;
}
.feedback-form .text-area{
    width: 353px !important;
}
.feedback-form .text-area textarea{
    width: 100%;
    height: 138px;
    padding: 20px;
    border: none;
    outline: none;
}
.feedback-form .name-number, .email{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 353px;
} 
/* <!-- ---End Feedback Form Section--- --> */

/* <!-- ---Footer Section--- --> */
.footer-section{
    background: #313131;
}
.footer-section .container .row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-section .footer-media-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section .col3{
    margin-left: 35px;
}
.footer-section .col2{
    margin-left: 10px;
}
.footer-section .footer-media-icon a{
    text-align: center;
    display: block;
    width: 100%;
    background: #313340;
    color: #fff;
    border: 10px solid #fff;
    height: 120px;
    line-height: 100px;
    font-size: 25px;
    transition: .3s;
}
.footer-section .footer-media-icon a:hover{
    background: #000000;
}
.footer-section .col h4{
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
    font-family: "Raleway", sans-serif;
}
.footer-section .col ul li a{
    font-size: 13px;
    line-height: 28px;
    font-weight: 300;
    color: #fff;
}
.footer-section .col ul li a:hover{
    text-decoration: underline;
}
.footer-section .col form input{
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background: #464853;
    color: #fff;
}
.footer-section .col form button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;line-height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: #234dd4;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
}
.footer-section .col form button:hover{
    background: #03C575;
}
.footer-section .col form ::placeholder{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
.footer-section .font-page ul li{
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.footer-section .font-page ul {
    padding-top: 30px;
    width: 525px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.footer-section .font-page ul li::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, .4);
    top: 11px;
    margin-left: 15px;
}
.footer-section .font-page ul li a{
    font-size: 13px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}
.footer-section .font-page ul li:last-child::after{
    display: none;
}
.footer-section .font-page ul li a:hover{
    text-decoration: underline;
}
/* <!-- ---End Footer Section--- --> */

/* <!-- ---Copyright Section--- --> */
.copyright-section{
    background: #313340;
}
.copyright-section .container{
    border-top: 1px solid rgba(255, 255, 255, .4);
    padding: 15px 0;
}
.copyright-section p, a{
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    color: #fffc;
    text-align: center;
}
.copyright-section p, a{
    font-weight: 600;
}
.copyright-section a:hover{
    text-decoration: underline;
}
/* <!-- ---End Copyright Section--- --> */